<!doctype html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]><html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]><html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="ie9 no-js"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html class="no-js"> <!--<![endif]-->
<head>
  <title>LAVANDA</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0, minimal-ui">
  <link rel="canonical" href="{{ canonical_url }}">
    {{ 'teaser.scss' | asset_url | stylesheet_tag }}
　<link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700&display=swap" rel="stylesheet">
 {% comment %} {{ content_for_header }}
  {% include 'head_styles' %}
  {% include 'head_scripts' %}{% endcomment %}
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-158513013-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-158513013-1');
</script>
</head>
<body class="template-password">
  <div class="bg-mask">
  <div class="password-page">
    {% comment %}<header class="password-header" role="banner">
      <div class="password-header__inner">
        <div class="password-login">
          <a href="#LoginModal" class="js-modal-open-login-modal link--action btn btn--secondary" aria-haspopup="dialog">
            {{ 'general.password_page.password_link' | t }} <span aria-hidden="true">&rarr;</span>
          </a>
        </div>
      </div>
    </header>{% endcomment %}

              <div class="password-main" role="main">
                        <div class="password-main__inner">
                          {{ content_for_layout }}
                          <div class="lavandalogo">
                           {{ "2022au_logo.png" | asset_url | img_tag  }}
                          </div>
                          <div class="teaser-logo">
                           {{ "2022win_collection.png" | asset_url | img_tag  }}
                          </div>
                           <div class="teaser-sublogo">
                           {{ "2022win_date.png" | asset_url | img_tag  }}
                          </div>

                            <div class="password_social">
                              <ul class="icon_social">
                                <li class="icon_twitter"><a href="https://twitter.com/LAVANDAjp" target="_blank"><svg version="1.1" id="icon_twitter" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 56.466 45.89"><a xlink:href="https://twitter.com/LAVANDAjp" target="_blank"><path fill="#ffffff" d="M17.758,45.89c21.309,0,32.961-17.654,32.961-32.961c0-0.502-0.01-1.001-0.032-1.497 c2.261-1.636,4.228-3.676,5.779-5.999c-2.076,0.922-4.311,1.544-6.653,1.824c2.392-1.435,4.229-3.703,5.093-6.409 c-2.237,1.327-4.716,2.292-7.354,2.813C45.437,1.408,42.426,0,39.095,0c-6.399,0-11.587,5.188-11.587,11.584 c0,0.909,0.102,1.793,0.301,2.642C18.181,13.741,9.643,9.131,3.93,2.12C2.934,3.833,2.36,5.822,2.36,7.944 c0,4.02,2.045,7.567,5.155,9.643c-1.9-0.058-3.686-0.58-5.246-1.449c-0.003,0.049-0.003,0.098-0.003,0.148 c0,5.61,3.993,10.293,9.294,11.358c-0.973,0.264-1.997,0.406-3.054,0.406c-0.746,0-1.472-0.074-2.178-0.209 c1.475,4.604,5.751,7.953,10.822,8.047c-3.966,3.105-8.96,4.959-14.388,4.959c-0.936,0-1.858-0.053-2.764-0.16 C5.127,43.972,11.214,45.89,17.758,45.89"/></a></svg></a></li>
                                <li class="icon_instagram"><a href="https://www.instagram.com/lavanda.jp/" target="_blank"><svg version="1.1" id="icon_instagram" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 53 53"><a xlink:href="https://www.instagram.com/lavanda.jp/" target="_blank"><path fill="#ffffff" d="M26.5,4.774c7.076,0,7.914,0.027,10.709,0.154c2.583,0.118,3.987,0.55,4.92,0.913 c1.237,0.48,2.12,1.055,3.048,1.982c0.928,0.926,1.502,1.81,1.982,3.047c0.363,0.934,0.794,2.337,0.912,4.92 c0.128,2.794,0.154,3.633,0.154,10.709c0,7.076-0.026,7.914-0.154,10.708c-0.118,2.582-0.549,3.986-0.912,4.92 c-0.48,1.236-1.055,2.119-1.982,3.047s-1.811,1.502-3.048,1.982c-0.933,0.363-2.337,0.795-4.92,0.912 c-2.794,0.129-3.633,0.154-10.709,0.154c-7.076,0-7.914-0.025-10.708-0.154c-2.584-0.117-3.987-0.549-4.921-0.912 c-1.236-0.48-2.119-1.055-3.046-1.982c-0.928-0.928-1.502-1.811-1.983-3.047c-0.363-0.934-0.794-2.338-0.912-4.92 C4.802,34.414,4.775,33.576,4.775,26.5c0-7.076,0.027-7.915,0.155-10.708c0.118-2.584,0.549-3.987,0.912-4.921 C6.323,9.634,6.897,8.75,7.825,7.824c0.927-0.928,1.81-1.502,3.046-1.982c0.934-0.363,2.337-0.795,4.921-0.913 C18.587,4.802,19.425,4.774,26.5,4.774 M26.5,0c-7.196,0-8.099,0.03-10.925,0.159c-2.821,0.129-4.748,0.577-6.433,1.231 C7.399,2.068,5.921,2.975,4.448,4.447C2.975,5.921,2.069,7.398,1.391,9.142c-0.654,1.686-1.103,3.61-1.231,6.433 C0.031,18.4,0,19.303,0,26.5c0,7.197,0.031,8.099,0.16,10.925c0.128,2.82,0.577,4.748,1.231,6.434 c0.678,1.742,1.584,3.221,3.057,4.693c1.473,1.473,2.951,2.379,4.694,3.057c1.685,0.654,3.612,1.104,6.433,1.232 C18.401,52.97,19.304,53,26.5,53c7.198,0,8.101-0.029,10.927-0.158c2.82-0.129,4.746-0.578,6.433-1.232 c1.741-0.678,3.22-1.584,4.694-3.057c1.473-1.473,2.379-2.951,3.056-4.693c0.655-1.686,1.103-3.613,1.231-6.434 C52.97,34.599,53,33.697,53,26.5c0-7.197-0.03-8.1-0.159-10.926c-0.129-2.822-0.576-4.747-1.231-6.433 c-0.677-1.743-1.583-3.221-3.056-4.694c-1.475-1.473-2.953-2.379-4.694-3.057c-1.687-0.654-3.612-1.103-6.433-1.231 C34.601,0.03,33.698,0,26.5,0 M26.5,12.892c-7.515,0-13.608,6.093-13.608,13.608c0,7.515,6.093,13.609,13.608,13.609 c7.517,0,13.609-6.094,13.609-13.609C40.109,18.984,34.017,12.892,26.5,12.892 M26.5,35.333c-4.878,0-8.833-3.957-8.833-8.833 c0-4.879,3.955-8.834,8.833-8.834c4.879,0,8.834,3.955,8.834,8.834C35.334,31.376,31.379,35.333,26.5,35.333 M43.826,12.354 c0,1.756-1.423,3.18-3.181,3.18c-1.756,0-3.18-1.424-3.18-3.18c0-1.757,1.424-3.181,3.18-3.181 C42.403,9.174,43.826,10.598,43.826,12.354"/></a></svg></a></li>
                                <li class="icon_line"><a href="https://lin.ee/5EzZzz7" target="_blank"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 35.5 33.83"><defs><style>.cls-1{fill:#ffffff;}</style></defs><g id="レイヤー_2" data-name="レイヤー 2"><g id="レイヤー_1-2" data-name="レイヤー 1"><path class="cls-1" d="M35.5,14.41C35.5,6.46,27.54,0,17.75,0S0,6.46,0,14.41c0,7.12,6.32,13.08,14.85,14.21.57.12,1.36.38,1.56.87a3.65,3.65,0,0,1,.06,1.61s-.21,1.25-.26,1.52c-.07.45-.35,1.75,1.54,1s10.22-6,14-10.31h0A12.83,12.83,0,0,0,35.5,14.41Zm-24,4.24a.35.35,0,0,1-.35.34h-5a.34.34,0,0,1-.24-.09h0a.37.37,0,0,1-.1-.24h0V10.91a.35.35,0,0,1,.35-.34H7.41a.34.34,0,0,1,.35.34v6.15h3.38a.35.35,0,0,1,.35.34Zm3,0a.34.34,0,0,1-.35.34H12.9a.35.35,0,0,1-.35-.34V10.91a.35.35,0,0,1,.35-.34h1.24a.34.34,0,0,1,.35.34Zm8.57,0a.34.34,0,0,1-.34.34H21.3l0,0h0a.3.3,0,0,1-.08-.08l-3.55-4.8v4.6a.35.35,0,0,1-.35.34H16.05a.35.35,0,0,1-.35-.34V10.91a.35.35,0,0,1,.35-.34H17.5l0,0h0l0,0h0l0,0,3.54,4.79v-4.6a.35.35,0,0,1,.35-.34h1.25a.34.34,0,0,1,.34.34Zm6.88-6.49a.35.35,0,0,1-.35.34H26.21v1.31h3.38a.35.35,0,0,1,.35.35V15.4a.35.35,0,0,1-.35.35H26.21v1.31h3.38a.35.35,0,0,1,.35.34v1.25a.35.35,0,0,1-.35.34h-5a.32.32,0,0,1-.24-.09h0a.37.37,0,0,1-.1-.24h0V10.91h0a.37.37,0,0,1,.1-.24h0a.32.32,0,0,1,.24-.09h5a.35.35,0,0,1,.35.34Z"/></g></g></svg></a></li>
                                <li class="icon_mail"><a href="mailto:info@lavanda.jp" ><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 59.46 44.03"><defs><style>.cls-1{fill:#ffffff;}</style></defs><g id="レイヤー_2" data-name="レイヤー 2"><g id="レイヤー_1-2" data-name="レイヤー 1"><path class="cls-1" d="M57.57,38.38H55.69a1.88,1.88,0,0,1-1.88,1.88H5.64a1.88,1.88,0,0,1-1.88-1.88V5.64A1.88,1.88,0,0,1,5.64,3.76H53.81a1.88,1.88,0,0,1,1.88,1.88V38.38h3.77V5.64A5.65,5.65,0,0,0,53.81,0H5.64A5.63,5.63,0,0,0,0,5.64V38.38A5.63,5.63,0,0,0,5.64,44H53.81a5.65,5.65,0,0,0,5.65-5.65Z"/><path class="cls-1" d="M57.08,10.74,31.2,25.63a1.74,1.74,0,0,1-.85.22,1.67,1.67,0,0,1-.84-.22l-26-14.89L2,13.35,28,28.24a4.79,4.79,0,0,0,2.34.62,4.71,4.71,0,0,0,2.35-.63L58.58,13.35Z"/></g></g></svg></a></li>
                              </ul>
                            </div>
                       </div>
              </div>
  </div>
  </div>

</body>
</html>
