<div class="lavanda-home-wrapper">
  <div class="lavanda-top pc">
     {{ 'img-home-top-2_2x-80.jpg' | asset_url | img_tag }}
  </div><!--   lavanda-top -->
  <div class="lavanda-top sp">
     {{ 'lavanda-top-pc.jpg' | asset_url | img_tag }}
  </div><!--   lavanda-top -->
  <div class="home-detail-txt">
      <p class="lavanada-txt">
       おうちの中だからこそ、<br>自分の好きなものだけに囲まれていたい。<br>着心地の良さ、手触りのよさ、<br>上質にこだわった<br>LAVANDAのルームウェアです。
      </p>
  </div><!--   home-detail-txt -->
  
  
  <div class="day-1-wrapper fadein">
<!--     <div class="day1-tiele-img pc">
             {{ 'img-home-day1.png' | asset_url | img_tag }}
    </div>  -->
    
           <div class="day1-img-1 pc">
             {{ 'img-home-day-1_2x-80.jpg' | asset_url | img_tag }}
           </div>
            <div class="day1-img-1 sp">
            {{ 'lavanda-day1-sp.jpg' | asset_url | img_tag }}
           </div>
          <div class="day1-img-2-wrapper sp">
            {{ 'lavanda-day1-sub-sp.jpg' | asset_url | img_tag }}
          </div>
          <div class="day1-img-2-wrapper pc">
            {{ 'lavanda-day1-sub.jpg' | asset_url | img_tag }}
          </div>
  </div>
  
  <div class="home-ribon-wrapper pc fadein">
    {{ 'lavanda-home-ribon.jpg' | asset_url | img_tag }}
  </div>
    <div class="home-ribon-wrapper sp fadein">
      {{ 'lavanda-ribon-sp.jpg' | asset_url | img_tag }}
    </div>
  <p class="lavanada-txt sp-txt fadein"><a href="https://lavanda.jp/products/lv20awhspl01" target="_blank">バックリボンロンT　¥6,000＋tax</a><br>
    <a href="https://lavanda.jp/products/lv20awhpt02" target="_blank">フラッフィーボーダーショートパンツ　¥5,800＋tax</a><br>
    <a href="https://lavanda.jp/products/lv20awhg01" target="_blank"> フラッフィーボーダーソックス　¥2,500＋tax</a><br>
    <a href="https://lavanda.jp/products/lv20awhg11" target="_blank">LAVANDAハンドタオル　¥1,800＋tax</a>
  </p>
  
  <div class="hair-clip-wrapper fadein">
       {{ 'lavenda-home-clip.jpg' | asset_url | img_tag }}
  </div><!--hair-clip-img -->
  <p class="lavanada-txt sp-txt"><a href="https://lavanda.jp/products/lv20awhg03" target="_blank">ハートヘアクリップ　¥2,600＋tax</a></p>
  
  <div class="tissue-case-wrapper fadein">
      <div class="tissue-case-img">
       {{ 'tissue-case-pc.jpg' | asset_url | img_tag }}
      </div><!--hair-clip-img -->
    <p class="lavanada-txt sp-txt fadein"><a href="https://lavanda.jp/products/lv20awhg07" target="_blank">サテンキルトティッシュケース　¥3,800＋tax</a> <br>
      <a href="https://lavanda.jp/products/lv20awhg08" target="_blank">サテンキルトポーチ　¥3,000＋tax</a><br>
      <a href="https://lavanda.jp/products/lv20awhg09" target="_blank">サテンフリルミニポーチ　¥2,300＋tax</a></p>
  </div>
  
<!--   <div class="day-lavanda">
   <p class="brand-title">
    LAVANDA
   </p>
    <p class="home">
    home
   </p>
    <p class="collection">
    PerfumeCollection
   </p>
    <p class="day">
      Day <span>2</span>
   </p>
  </div> -->
  
  <div class="day2-img-wrapper">
  
           <div class="day2-img-1 pc fadein">
             {{ 'lavanda-home-day2_2x-80.jpg' | asset_url | img_tag }}
           </div>
           <div class="day2-img-1 sp fadein">
             {{ 'lavanda-sp.jpg' | asset_url | img_tag }}
           </div>
          <div class="day2-img-2-wrapper pc fadein">
              {{ 'home-day2-sub.jpg' | asset_url | img_tag }}
          </div>
          <div class="day2-img-2-wrapper sp fadein">
              {{ 'lavanda-parker-sp.jpg' | asset_url | img_tag }}
          </div>
  </div><!-- day1-img-wrapper -->
  
  <div class="ribon-shushu pc relative fadein">
    {{ 'lavanda-home-syusyu.jpg' | asset_url | img_tag }}
    <div class="ribon-shushu-2 ">
    {{ 'ribon-shushu-2.jpg' | asset_url | img_tag }}
      <p class="lavanada-txt sp-txt relative-txt fadein"><a href="https://lavanda.jp/products/lv20awhg02" target="_blank">ファーリボンシュシュ　¥2,000＋tax</a></p>
    </div>
  </div>
  <div class="ribon-shushu sp relative fadein">
    {{ 'ribon-shushu.jpg' | asset_url | img_tag }}
    <div class="ribon-shushu-2 ">
    {{ 'ribon-shushu-2.jpg' | asset_url | img_tag }}
      <p class="lavanada-txt sp-txt relative-txt "><a href="https://lavanda.jp/products/lv20awhg02" target="_blank">ファーリボンシュシュ　¥2,000＋tax</a></p>
    </div>
  </div>
  <div class="lavanda-parker pc fadein">
    {{ 'simple-parker.jpg' | asset_url | img_tag }}
  </div>
  <p class="lavanada-txt sp-txt fadein"><a href="https://lavanda.jp/products/lv20awhpk01" target="_blank">シンプルZIPパーカー　¥7,800＋tax </a><br>
    <a href="https://lavanda.jp/products/lv20awhpt01" target="_blank">スウェットパンツ　¥6,800＋tax</a><br>
    <a href="https://lavanda.jp/products/lv20awhg06" target="_blank">エコファークッション　¥5,000＋tax </a><br>
  <a href="https://lavanda.jp/products/lv20awhg05" target="_blank">サテンキルトクッション　¥5,500＋tax </a></p>
  
  <div class="long-onepiece fadein">
     {{ 'long-onepiece.jpg' | asset_url | img_tag }}
  </div>
  <p class="lavanada-txt sp-txt fadein"><a href="https://lavanda.jp/products/lv20awhop01" target="_blank">サーマルロングワンピース　¥7,800＋tax</a></p>
  
  
  <div class="long-onepiece-sub pc fadein">
     {{ 'long-one-piece-sub.jpg' | asset_url | img_tag }}
  </div>
  
  <div class="long-onepiece-sub-sp sp fadein">
     {{ 'home-logonepiece.jpg' | asset_url | img_tag }}
  </div>
  
  <div class="long-onepiece-sub-sp-2 sp fadein">
     {{ 'lavanda-onepiece.jpg' | asset_url | img_tag }}
  </div>
  
  <div class="lavanda-slippa pc fadein">
     {{ 'lavanda-slippa.jpg' | asset_url | img_tag }}
  </div>
   <div class="lavanda-slippa sp fadein">
     {{ 'lavanda-slippa-sp.jpg' | asset_url | img_tag }}
  </div>
  <p class="lavanada-txt sp-txt "><a href="https://lavanda.jp/products/lv20awhg10" target="_blank">サテンリボントートバッグ　¥4,000＋tax</a><br>
    <a href="https://lavanda.jp/products/lv20awhg04" target="_blank">エコファールームシューズ　¥3,500＋tax</a><br>
<a href="https://lavanda.jp/products/lv20awhg02" target="_blank">ファーリボンシュシュ　¥2,000＋tax</a></p>
</div><!-- lavanda-home-wrapper -->
 


<script>
  $(function(){
	$(window).scroll(function (){
		$('.fadein').each(function(){
			var elemPos = $(this).offset().top;
			var scroll = $(window).scrollTop();
			var windowHeight = $(window).height();
			if (scroll > elemPos - windowHeight + 300){
				$(this).addClass('scrollin');
			}
		});
	});
});

  
</script>

{% schema %}
  {
    "name": "Section name",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
