<div class="lavanda-home-wrapper">
  <div class="lavanda-top pc">
     {{'perfume-top-pc_0405.jpg' | asset_url | img_tag }}
  </div><!--   lavanda-top -->
  <div class="lavanda-top sp">
     {{ ' lavanda_perfume_sp_0405.jpg ' | asset_url | img_tag }}
  </div><!--   lavanda-top -->
  
  <div class="home-detail-wrapper block">
    
    
       <video src="https://dl.dropbox.com/s/wlw11ocwn4vy6kf/Interview.mp4" 　playsinline="playsinline"  controls=""  poster="https://cdn.shopify.com/s/files/1/0322/8116/5869/files/Interview_poster.jpg?v=1606403444"  id="fv-video"></video>

    
    <div class="home-detail-txt pc-top">
        <p class="lavanada-txt ">
            LAVANDAから<br>ローズとバニラの女性らしい香りをベースに<br>シトラスとシャンパンをプラスして<br>大人っぽさを感じる<br>パフュームラインがデビュー<br>お部屋もボディーケアも大好きな香りに包まれて
        </p>
     </div><!--   home-detail-txt -->
    
  </div>
  
 </div>
<!-- 動画 -->
  


  
  <div class="flex fadein">
   
    <div class="perfume-img pc ">
      {{ '1613_2.jpg' | asset_url | img_tag }}
    </div>
    <div class="perfume-txt">
      <div class="perfume ">
        <div class="perfume-logo " >
          {{ 'perfume-logo_0405.jpg' | asset_url | img_tag }}
        </div>
        <h2 class="perfume-title">Aromatic Reed Diffuser</h2>
        <div class="perfume-img sp ">
          {{ '1613_2.jpg' | asset_url | img_tag }}
        </div>
      <div class="perfume-product-img ">
        
        <a href="https://lavanda.jp/products/lv20awh01">
        {{ 'aroma.png' | asset_url | img_tag }}
          </a>
          
      </div>
      <p class="perfume-ja ">
        <a href="https://lavanda.jp/products/lv20awh01">
        アロマリードディフューザー 80ml　¥4,800＋tax
        </a>
      </p>
      
      
      </div>
    </div>
  
 
  </div><!--  flex -->
    <div class="flex-2 fadein　width100">
   
    
    <div class="perfume-txt">
      <div class="perfume ">
        <div class="perfume-logo ">
          {{ 'perfume-logo_0405.jpg' | asset_url | img_tag }}
        </div>
        <h2 class="perfume-title">Hand & Body Cream</h2>
        <div style="display:flex;" class="sp sp-flex">
          <div class=" sp perfume-img-right ">
            {{ 'bodycream-sp.jpg' | asset_url | img_tag }}
          </div>
           <div class="perfume-product-img width-25 ">
             
             <a href="https://lavanda.jp/products/lv20awh05">
             {{ 'bodycream.png' | asset_url | img_tag }}
               </a> 
               
           </div>
        </div>
      <p class="perfume-ja ">
        <a href="https://lavanda.jp/products/lv20awh05">
        ハンド&ボディクリーム 100g　¥3,000＋tax
        </a> 
      </p>
      </div>
    </div>
      <div class="perfume-img pc right ">
      {{ '1333.jpg' | asset_url | img_tag }}
    </div>
  
 
  </div><!--  flex -->
  
    <div class="flex-2 fadein">
   
    <div class="perfume-img pc fadein">
      {{ 'gel-pc.jpg' | asset_url | img_tag }}
    </div>
    <div class="perfume-txt">
      <div class="perfume ">
        <div class="perfume-logo fadein">
          {{ 'perfume-logo_0405.jpg' | asset_url | img_tag }}
        </div>
        <h2 class="perfume-title">Refresh Hand Gel</h2>
      <div class="perfume-product-img pc fadein">
        
        <a href="https://lavanda.jp/products/lv20awh03 ">
        {{ 'gel.png' | asset_url | img_tag }}
        </a>
        
      </div>
        <div style="display:flex;" class="sp sp-flex">
           <div class="perfume-product-img sp fregrance-gel fadein">
             
             <a href="https://lavanda.jp/products/lv20awh03 ">
             {{ 'gel.png' | asset_url | img_tag }}
             </a>
             
           </div>
          <div class=" sp fregrance">
            {{ 'fregrance.jpg' | asset_url | img_tag }}
          </div>
        </div>
      <p class="perfume-ja">
        <a href="https://lavanda.jp/products/lv20awh03 ">
        リフレッシュハンドジェル 57ml　¥1,800＋tax
        </a>
       </p>
      
      
      </div>
      </div>
  </div><!--  flex -->
    <div class="flex fadein">
   
    
    <div class="perfume-txt">
      <div class="perfume ">
        <div class="perfume-logo">
          {{ 'perfume-logo_0405.jpg' | asset_url | img_tag }}
        </div>
        <h2 class="perfume-title">Hair Treatment Oil</h2>
           <div class="perfume-img sp ">
           {{ 'hair-oil.jpg' | asset_url | img_tag }}
           </div>
           <div class="perfume-product-img width-18 ">
             
             <a href="https://lavanda.jp/products/lv20awh02 ">
             {{ 'hair-oil.png' | asset_url | img_tag }}
              </a> 
               
           </div>
       
      <p class="perfume-ja">
        <a href="https://lavanda.jp/products/lv20awh02 ">
        ヘアトリートメントオイル 57ml　¥2,500＋tax
        </a>
       </p>
      </div>
    </div>
      <div class="perfume-img pc right">
      {{ 'hair-oil.jpg' | asset_url | img_tag }}
    </div>
  
 
  </div><!--  flex -->
  
   <div class="flex fadein">
   
    <div class="perfume-img pc">
      {{ 'rip-treatment.jpg' | asset_url | img_tag }}
    </div>
    <div class="perfume-txt">
      <div class="perfume ">
        <div class="perfume-logo">
          {{ 'perfume-logo_0405.jpg' | asset_url | img_tag }}
        </div>
        <h2 class="perfume-title">Lip Treatment Stick</h2>
        <div class="perfume-img sp">
          {{ 'rip-treatment.jpg' | asset_url | img_tag }}
        </div>
        
      <div class="perfume-product-img rip">
        
        <a href="https://lavanda.jp/products/lv20awh04cl ">
        {{ 'rip-treatment-product.png' | asset_url | img_tag }}
        </a>
        
      </div>
      <p class="perfume-ja">
        <a href="https://lavanda.jp/products/lv20awh04cl ">
         リップトリートメントスティック(Clear)<br>¥2,000＋tax
        </a><br>
         <a href="https://lavanda.jp/products/lv20awh04rb ">
         リップトリートメントスティック(Red Brown)<br>¥2,200＋tax
        </a>
       </p>
      </div>
    </div>
  
 
  </div><!--  flex -->
</div><!-- lavanda-home-wrapper -->


<script>
  $(function(){
	$(window).scroll(function (){
		$('.fadein').each(function(){
			var elemPos = $(this).offset().top;
			var scroll = $(window).scrollTop();
			var windowHeight = $(window).height();
			if (scroll > elemPos - windowHeight + 300){
				$(this).addClass('scrollin');
			}
		});
	});
});

  
</script>

{% schema %}
  {
    "name": "Section name",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
