<!-- ===============================

MERURU 1ST LP  CSS  &  HTML(LIQUID) 

===================================  -->


<style>
  
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700;900&display=swap');
  
  
.meruru-bottm-hr{
  border-bottom : 1px solid #978ea1 ;
  padding-bottom: 130px;
}

  
@media screen and (max-width: 767px) {
  .meruru-bottm-hr {
   padding-bottom: 50px;
  }
}

.original-lp {
  font-family: 'Noto Sans JP', sans-serif !important;
  font-size: 16px;
}

.original-lp img {
  height: auto;
  vertical-align: bottom;
  width: 100%;
}

.original-lp a:hover {
  opacity: .8;
}


.is-sp {
  display: none;
}

@media screen and (max-width: 480px) {
  .is-sp {
    display: block;
  }
}

.is-sp-wide {
  display: none;
}

@media screen and (max-width: 767px) {
  .is-sp-wide {
    display: block;
  }
}

.is-tab {
  display: none;
}

@media screen and (max-width: 1024px) {
  .is-tab {
    display: block;
  }
}

@media screen and (max-width: 480px) {
  .is-sp-hidden {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .is-sp-wide-hidden {
    display: none;
  }
}

@media screen and (max-width: 1024px) {
  .is-tab-hidden {
    display: none;
  }
}

.header {
  background-color: red;
  height: 95px;
  width: 100%;
}

@media screen and (max-width: 767px) {
  .header {
    height: 150px;
  }
}

.fv__inner {
  background-image: url(https://cdn.shopify.com/s/files/1/0322/8116/5869/files/fv.png?v=1614874540);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 590px;
  margin: 0 auto;
  max-width: 1000px;
  position: relative;
  width: 100%;
}

@media screen and (max-width: 767px) {
  .fv__inner {
    background-image: url(https://cdn.shopify.com/s/files/1/0322/8116/5869/files/fv-sp.png?v=1614875837);
    background-position: top;
    height: 1000px;
  }
}

@media screen and (max-width: 480px) {
  .fv__inner {
    height: 500px;
  }
}

.fv__img-wrap {
  -webkit-transform: translateX(-50%);
  bottom: -9%;
  left: 50%;
  position: absolute;
  transform: translateX(-50%);
  width: 300px;
}

@media screen and (max-width: 767px) {
  .fv__img-wrap {
    bottom: -12%;
    width: 255px;
  }
}

@media screen and (max-width: 480px) {
  .fv__img-wrap {
    width: 150px;
  }
}

.fv__bottom-img-wrap {
  -webkit-transform: translateX(-50%);
  bottom: -25%;
  left: 50%;
  position: absolute;
  transform: translateX(-50%) !important;
  width: 500px;
}

@media screen and (max-width: 767px) {
  .fv__bottom-img-wrap {
    bottom: -31%;
    max-width: 555px;
    width: 100%;
  }
}

@media screen and (max-width: 480px) {
  .fv__bottom-img-wrap {
    max-width: 300px;
    left:50%;
    transform: translate(-50%) !important;
    bottom:-38%;
  }
}

.one-piece {
  height: 520px;
  margin-top: 175px;
}

@media screen and (max-width: 767px) {
  .one-piece {
    margin-top: 483px;
  }
}

@media screen and (max-width: 480px) {
  .one-piece {
    height: 450px;
    margin-top: 200px;
    padding-top:10px;
  }
}

.one-piece__inner {
  height: 100%;
  margin: 0 auto;
  max-width: 740px;
  padding: 0 20px;
  width: 100%;
}

@media screen and (max-width: 767px) {
  .one-piece__inner {
    padding: 0 35px;
  }
}

@media screen and (max-width: 480px) {
  .one-piece__inner {
    padding: 0 20px;
  }
}

.one-piece__info {
  padding-top: 40px;
  text-align: center;
}

@media screen and (max-width: 767px) {
  .one-piece__info {
    padding-top: 31px;
  }
}

.one-piece__price {
  color: #595757;
  display: block;
  font-size: 13px;
  text-decoration: none;
}

@media screen and (max-width: 767px) {
  .one-piece__price {
    font-size: 24px;
  }
}

@media screen and (max-width: 480px) {
  .one-piece__price {
    font-size: 11px;
  }
}

.flower-photo {
  margin-top: 246px;
}

@media screen and (max-width: 767px) {
  .flower-photo {
    margin-top: 340px;
  }
}

@media screen and (max-width: 480px) {
  .flower-photo {
    margin-top: 45px;
  }
}

.flower-photo__inner {
  margin: 0 auto;
  max-width: 1040px;
  padding: 0 20px;
  width: 100%;
}

@media screen and (max-width: 767px) {
  .flower-photo__inner {
    padding: 0;
 
  }
}

.flower-photo__left-img-wrap{
	padding-left:20px;
}

.flower-photo__container {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
  position: relative;
}

@media screen and (max-width: 767px) {
  .flower-photo__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}

.flower-photo__left {
  width: 51%;
}

@media screen and (max-width: 767px) {
  .flower-photo__left {
    width: 100%;
  }
}

.flower-photo__right {
  bottom: -12%;
  position: absolute;
  right: 0;
  width: 44%;
}

@media screen and (max-width: 767px) {
  .flower-photo__right {
    margin: 0 auto;
    margin-top: 75px;
    position: static;
    width: 90%;
  }
}

@media screen and (max-width: 480px) {
  .flower-photo__right {
    margin-top: 35px;
  }
}

@media screen and (max-width: 767px) {
  .flower-photo__info {
    margin-top: 20px;
  }
}

.flower-photo__txt {
  color: #595757;
  display: block;
  font-size: 13px;
  text-decoration: none;
}

@media screen and (max-width: 767px) {
  .flower-photo__txt {
    font-size: 24px;
    text-align: center;
  }
}

@media screen and (max-width: 480px) {
  .flower-photo__txt {
    font-size: 11px;
  }
}

.flower-photo__img-wrap {
  display: block;
  margin-top: 31px;
}

@media screen and (max-width: 767px) {
  .flower-photo__img-wrap {
    margin-top: 0;
  }
}

.skirt {
  margin-top: 278px;
}

@media screen and (max-width: 767px) {
  .skirt {
    margin-top: 220px;
  }
}

@media screen and (max-width: 480px) {
  .skirt {
    margin-top: 100px;
  }
}

.skirt__inner {
  margin: 0 auto;
  max-width: 700px;
  padding: 0 20px;
  width: 100%;
}

@media screen and (max-width: 767px) {
  .skirt__inner {
    max-width: 750px;
    padding: 0;
  }
}

.skirt__info {
  margin-top: 55px;
}

@media screen and (max-width: 767px) {
  .skirt__info {
    margin-top: 15px;
  }
}

.skirt__txt {
  color: #595757;
  display: block;
  font-size: 13px;
  text-align: center;
  text-decoration: none;
  margin-top:0 !important;
}

@media screen and (max-width: 767px) {
  .skirt__txt {
    font-size: 24px;
  }
}

@media screen and (max-width: 480px) {
  .skirt__txt {
    font-size: 11px;
    margin-top:0 !important;
  }
}

.t-shirt {
  margin-top: 110px;
}

@media screen and (max-width: 767px) {
  .t-shirt {
    margin-top: 164px;
    overflow: hidden;
  }
}

@media screen and (max-width: 480px) {
  .t-shirt {
    margin-top: 70px;
  }
}

.t-shirt__inner {
  margin: 0 auto;
  max-width: 1040px;
  padding: 0 20px;
  width: 100%;
}

.t-shirt__container {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
  position: relative;
}

@media screen and (max-width: 767px) {
  .t-shirt__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}

.t-shirt__left {
  position: relative;
  width: 42%;
}

@media screen and (max-width: 767px) {
  .t-shirt__left {
    margin: 0 auto;
    width: 88%;
  }
}

.t-shirt__bottom-contents {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  bottom: -26%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
  left: -30%;
  position: absolute;
}

@media screen and (max-width: 767px) {
  .t-shirt__bottom-contents {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -ms-flex-direction: row-reverse;
    bottom: inherit;
    flex-direction: row-reverse;
    height: 500px;
    left: 0;
    margin-top: -120px;
    right: -20%;
  }
}

@media screen and (max-width: 480px) {
  .t-shirt__bottom-contents {
    height: 350px;
    height: 150px;
    margin-top: -40px;
  }
}

.t-shirt__bottom-img-wrap {
  width: 55%;
}

@media screen and (max-width: 767px) {
  .t-shirt__bottom-img-wrap {
    width: 600px;
  }
}

@media screen and (max-width: 480px) {
  .t-shirt__bottom-img-wrap {
    width: 450px;
  }
}

.t-shirt__info {
  -ms-flex-item-align: end;
  align-self: flex-end;
  margin-left: 20px;
  margin-top: 40px;
}

@media screen and (max-width: 767px) {
  .t-shirt__info {
    margin-left: 0;
    padding-top: 40px;
  }
}

.t-shirt__txt {
  color: #595757;
  display: block;
  font-size: 13px;
  text-decoration: none;
}

@media screen and (max-width: 767px) {
  .t-shirt__txt {
    font-size: 24px;
  }
}

@media screen and (max-width: 480px) {
  .t-shirt__txt {
    font-size: 11px;
    margin-right:15px;
  }
}

.t-shirt__right {
  bottom: -84%;
  position: absolute;
  right: 0;
  width: 44%;
}

@media screen and (max-width: 767px) {
  .t-shirt__right {
    margin: 0 calc(50% - 50vw);
    margin-top: 504px;
    position: relative;
    width: 100%;
    width: 100vw;
  }
}

@media screen and (max-width: 480px) {
  .t-shirt__right {
    margin-top: 220px;
  }
}

.t-shirt__right-info {
  margin-top: 24px;
  text-align: right;
}

@media screen and (max-width: 767px) {
  .t-shirt__right-info {
    margin-top: 31px;
  }
}

.t-shirt__right-txt {
  color: #595757;
  display: block;
  font-size: 13px;
  font-size: 13PX;
  text-decoration: none;
}

@media screen and (max-width: 767px) {
  .t-shirt__right-txt {
    font-size: 24px;
    text-align: center;
  }
}

@media screen and (max-width: 480px) {
  .t-shirt__right-txt {
    font-size: 11px;
  }
}

.all-in-one {
  padding-top: 288px;
}

@media screen and (max-width: 767px) {
  .all-in-one {
    padding: 0;
  }
}

.all-in-one__inner {
  margin: 0 auto;
  margin-top: 400px;
  max-width: 590px;
  padding: 0 20px;
  width: 100%;
}

@media screen and (max-width: 767px) {
  .all-in-one__inner {
    margin-top: 225px;
    max-width: 750px;
    padding: 0;
  }
}

@media screen and (max-width: 480px) {
  .all-in-one__inner {
    margin-top: 90px;
  }
}

.all-in-one__info {
  margin-top: 50px;
  text-align: center;
}

@media screen and (max-width: 767px) {
  .all-in-one__info {
    margin-top: 20px;
  }
}

.all-in-one__txt {
  color: #595757;
  font-size: 13px;
  text-align: center;
  text-decoration: none;
}

@media screen and (max-width: 767px) {
  .all-in-one__txt {
    font-size: 24px;
  }
}

@media screen and (max-width: 480px) {
  .all-in-one__txt {
    font-size: 11px;
  }
}

.hat {
  margin-top: 180px;
}

@media screen and (max-width: 767px) {
  .hat {
    margin-top: 210px;
  }
}

@media screen and (max-width: 480px) {
  .hat {
    margin-top: 80px;
  }
}

.hat__inner {
  margin: 0 auto;
  max-width: 940px;
  padding: 0 20px;
  width: 100%;
}

@media screen and (max-width: 767px) {
  .hat__inner {
    max-width: 750px;
    padding: 0;
  }
}

.hat__container {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 767px) {
  .hat__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }
}

.hat__left {
  -ms-flex-item-align: end;
  align-self: flex-end;
  width: 38%;
}

@media screen and (max-width: 767px) {
  .hat__left {
    margin: 0 auto;
    margin-top: 50px;
    width: 70%;
  }
}

@media screen and (max-width: 480px) {
  .hat__left {
    margin-top: 25px;
  }
}

.hat__img-wrap {
  padding-bottom: 50px;
}

.hat__info {
  margin-top: 50px;
}

@media screen and (max-width: 767px) {
  .hat__info {
    margin-top: 40px;
  }
}

@media screen and (max-width: 480px) {
  .hat__info {
    margin-top: 20px;
  }
}

.hat__txt {
  color: #595757;
  display: block;
  font-size: 13px;
  text-align: left;
  text-decoration: none;
}

@media screen and (max-width: 767px) {
  .hat__txt {
    font-size: 24px;
    text-align: center;
  }
}

@media screen and (max-width: 480px) {
  .hat__txt {
    font-size: 11px;
  }
}

.hat__right {
  -ms-flex-item-align: end;
  align-self: flex-end;
  width: 54%;
}

@media screen and (max-width: 767px) {
  .hat__right {
    width: 100%;
  }
}

.product {
  margin-top: 250px;
}

@media screen and (max-width: 767px) {
  .product {
    margin-top: 160px;

  }
}

@media screen and (max-width: 480px) {
  .product {
    margin-top: 50px;
  }
}

.product__inner {
  margin: 0 auto;
  max-width: 1040px;
  padding: 0 20px;
  width: 100%;
}

@media screen and (max-width: 767px) {
  .product__inner {
    padding: 0;
  }
}

.product__container {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
  position: relative;
}

@media screen and (max-width: 767px) {
  .product__container {
    display: block;
  }
}

.product__left {
  width: 50%;
}

@media screen and (max-width: 767px) {
  .product__left {
    width: 100%;
  }
}

.product__right {
  position: absolute;
  right: 12%;
  top: 15%;
  width: 25%;
}

@media screen and (max-width: 767px) {
  .product__right {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column-reverse;
    margin: 0 auto;
    position: static;
    width: 55%;
  }
}

@media screen and (max-width: 480px) {
  .product__right {
    width: 100%;
  }
}

.product__right-img-wrap {
  margin-top: 30px;
}

@media screen and (max-width: 767px) {
  .product__right-img-wrap {
    margin-top: 100px;
  }
}

@media screen and (max-width: 480px) {
  .product__right-img-wrap {
    margin-top: 60px;
  }
}

@media screen and (max-width: 480px) {
  .product__right-img-wrap {
    margin: 0 auto;
    margin-top: 40px;
    width: 60%;
  }
}

.product__info {
  margin-top: 115px;
}

@media screen and (max-width: 767px) {
  .product__info {
    margin-top: 30px;
  }
}

@media screen and (max-width: 480px) {
  .product__info {
    text-align: center;
  }
}

.product__txt {
  color: #595757;
  display: block;
  font-size: 13px;
  text-decoration: none;
}

@media screen and (max-width: 767px) {
  .product__txt {
    font-size: 24px;
  }
}

@media screen and (max-width: 480px) {
  .product__txt {
    font-size: 11px;
  }
}
  
  .original-fv{
  	overflow:initial !important;
  }
  

  

  }
  
  @media screen and (max-width: 480px) {
   .flower-photo{
  overflow-x:hidden;
}
  
  

  
  
@media screen and (max-width: 480px) {
  .main-content {

    padding-bottom:0 !important;

  }
}
  
  
</style>



{{ 'effect.css' | asset_url | stylesheet_tag }}
{{ 'effect.js' | asset_url | script_tag }}

<div class="page-tpl meruru-bottm-hr">


    
    <div class="original-lp">


  <div class="fv original-fv">
    <div class="fv__inner">
 	      <div class="fv__bottom-img-wrap is-sp-wide fadein">
        <img src="https://cdn.shopify.com/s/files/1/0322/8116/5869/files/fv-sp-logo.png?v=1614875820" alt="LAVANDA×Meruru" class="fv__bottom-img">
      </div>
      
    </div>
  </div>
      


<div class="one-piece">
  <div class="one-piece__inner">
    <a href="https://lavanda.jp/products/lv21ssop3" class="one-piece__img-wrap">
      <img src="https://cdn.shopify.com/s/files/1/0322/8116/5869/files/one-piece.png?v=1614874544" alt="フラワーボウタイワンピース" class="one-poece__img fadein">
    </a>
    <div class="one-piece__info">
      <a href="
      https://lavanda.jp/products/lv21ssop3" class="one-piece__price">フラワーボウタイワンピース　¥14,500
        (tax in)</a>
      <a href="
      https://lavanda.jp/products/LV21SSAC23" class="one-piece__price">2WAYレジンピアス　¥2,900 (tax in)</a>
        <a href="https://lavanda.jp/products/LV21SSAC12" class="one-piece__price">3WAYリボンヘアバンド　¥1,900 (tax in)</a>
    </div>
  </div>
</div>

<div class="flower-photo">
  <div class="flower-photo__inner">
    <div class="flower-photo__container">
      <div class="flower-photo__left fadein ">
        <a href="
        https://lavanda.jp/products/LV21SST3" class="flower-photo__left-img-wrap">
          <img src="https://cdn.shopify.com/s/files/1/0322/8116/5869/files/flower-photo01.png?v=1614874535" alt="フラワーフォトプリントTシャツ" class="flower-photo__left-img fadein">
        </a>
      </div>
      <div class="flower-photo__right">
        <div class="flowe-photo__info is-sp-wide-hidden">
          <a href="https://lavanda.jp/products/LV21SST3" class="flower-photo__txt">フラワーフォトプリントTシャツ　¥5,900 (tax in)</a>
          <a href="https://lavanda.jp/products/LV21SSP2" class="flower-photo__txt">ストレートタックワイドパンツ　¥10,900 (tax in)
        </a>
          <a href="https://lavanda.jp/products/LV21SSAC5" class="flower-photo__txt">セルフレームメガネ　¥3,900 (tax in)</a>
            <a href="
https://lavanda.jp/products/LV21SSAC37" class="flower-photo__txt">フープセットイヤリング　¥2,900 (tax in)</a>
        </div>
        <a href="https://lavanda.jp/products/LV21SST3" class="flower-photo__img-wrap">
          <img src="https://cdn.shopify.com/s/files/1/0322/8116/5869/files/flower-photo02.png?v=1614874526" alt="フラワーフォトプリントTシャツ" class=" fadein">
        </a>
        <div class="flower-photo__info is-sp-wide">
          <a href="https://lavanda.jp/products/LV21SST3" class="flower-photo__txt">フラワーフォトプリントTシャツ　¥5,900 (tax in)</a>
          <a href="https://lavanda.jp/products/LV21SSP2" class="flower-photo__txt">ストレートタックワイドパンツ　¥10,900 (tax in)
        </a>
          <a href="https://lavanda.jp/products/LV21SSAC5" class="flower-photo__txt">セルフレームメガネ　¥3,900 (tax in)</a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="skirt">
  <div class="skirt__inner">
    <a href="https://lavanda.jp/products/LV21SSB2" class="skirt__img-wrap">
      <img src="https://cdn.shopify.com/s/files/1/0322/8116/5869/files/skirt_b04de1b9-802d-4da2-bba7-35f380636b42.png?v=1614874542" alt="2WAYパフスリーブニット" class="skirt__img  fadein">
    </a>
    <div class="skirt__info">
      <a href="https://lavanda.jp/products/LV21SSB2" class="skirt__txt">2WAYパフスリーブニット　<br class="is-sp-wide">¥6,900 (tax in)</a>
      <a href="https://lavanda.jp/products/LV21SSS3" class="skirt__txt">ランダムプリーツシアーチェックスカート　<br class="is-sp-wide">¥10,900 (tax in)</a>
    </div>
  </div>
</div>

<div class="t-shirt">
  <div class="t-shirt__inner">
    <div class="t-shirt__container">
      <div class="t-shirt__left ">
      <a href="https://lavanda.jp/products/lv21sst2" class="t-shirt__img-wrap ">
        <img src="https://cdn.shopify.com/s/files/1/0322/8116/5869/files/t-shirt01.png?v=1614874540" alt="メッセージフラワープリントTシャツ" class="t-shirt__img  fadein">
      </a>
      <div class="t-shirt__bottom-contents">
        <a href="https://lavanda.jp/products/lv21sst2" class="t-shirt__bottom-img-wrap">
          <img src="https://cdn.shopify.com/s/files/1/0322/8116/5869/files/t-shirt02.png?v=1614874516" alt="メッセージフラワープリントTシャツ" class="t-shirt__bottom-img  fadein">
        </a>
        <div class="t-shirt__info">
          <a href="https://lavanda.jp/products/lv21sst2" class="t-shirt__txt">メッセージフラワープリントTシャツ　<br class="is-sp-wide">¥5,900 (tax in)</a>
        </div>
      </div>
      </div>
      <div class="t-shirt__right">
      <a href="https://lavanda.jp/products/LV21SSB5" class="t-shirt__right-img-wrap">
        <img src="https://cdn.shopify.com/s/files/1/0322/8116/5869/files/t-shirt93.png?v=1614874533" alt="フレンチスリーブパーカー" class="t-shirt__right-img  fadein">
      </a>
      <div class="t-shirt__right-info">
        <a class="t-shirt__right-txt" href="https://lavanda.jp/products/LV21SSB5">フレンチスリーブパーカー　¥6,500 (tax in)</a>
        <a class="t-shirt__right-txt" href="https://lavanda.jp/products/LV21SSS2">ドットチュールスカート　¥11,900 (tax in)</a>
        <a class="t-shirt__right-txt" href="https://lavanda.jp/products/LV21SSAC21">リボンサテンキャップ　¥5,500 (tax in)</a>
        <a class="t-shirt__right-txt" href="https://lavanda.jp/products/LV21SSAC37">フープセットイヤリング　¥2,900 (tax in)</a>
        <a class="t-shirt__right-txt" href="
        https://lavanda.jp/products/LV21SSCH3">チャンキースニーカー　¥12,900 (tax in)</a>
      </div>
      </div>
    </div>
  </div>
</div>

<div class="all-in-one">
  <div class="all-in-one__inner">
    <a href="https://lavanda.jp/products/lv21ssp3" class="all-in-one__img-wrap ">
      <img src="https://cdn.shopify.com/s/files/1/0322/8116/5869/files/all-in-one01.png?v=1614874540" alt="ワイドオールインワン" class="all-in-one-img  fadein">
    </a>
    <div class="all-in-one__info">
      <a href="https://lavanda.jp/products/lv21ssp3" class="all-in-one__txt">ワイドオールインワン　¥14,500 (tax in)　</a><br>
      <a href="https://lavanda.jp/products/LV21SSAC7" class="all-in-one__txt">ボストンクリアサングラス　¥3,900 (tax in)</a><br>
      <a href="https://lavanda.jp/products/LV21SSAC16" class="all-in-one__txt">ハートピアス　¥2,500 (tax in)　</a><br>
      <a href="https://lavanda.jp/products/LV21SSCH4" class="all-in-one__txt">ビットローファー　¥8,500 (tax in)</a>
    </div>
  </div>
</div>

  <div class="hat">
    <div class="hat__inner">
      <div class="hat__container">
        <div class="hat__left">
          <a href="https://lavanda.jp/products/LV21SSB4" class="hat__img-wrap">
            <img src="https://cdn.shopify.com/s/files/1/0322/8116/5869/files/hat01.png?v=1614874527" alt="キャミ付きフリルブラウス" class="hat__img  fadein">
          </a>
          <div class="hat__info">
            <a href="https://lavanda.jp/products/LV21SSB4" class="hat__txt">キャミ付きフリルブラウス　¥8,500 (tax in)
            </a>
            <a href="https://lavanda.jp/products/LV21SSAC23" class="hat__txt">2WAYレジンピアス　¥2,900 (tax in)
            </a>
          </div>
        </div>
        <div class="hat__right">
          <a href="https://lavanda.jp/products/LV21SSB4" class="hat__right-img-wrap">
            <img src="https://cdn.shopify.com/s/files/1/0322/8116/5869/files/hat02.png?v=1614874540" alt="キャミ付きフリルブラウス" class="hat__right-img  fadein">
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="product">
    <div class="product__inner">
      <div class="product__container">
        <div class="product__left">
          <a href="https://lavanda.jp/products/LV21SSB3" class="product__img-wrap">
            <img src="https://cdn.shopify.com/s/files/1/0322/8116/5869/files/product01.png?v=1614874540" alt="" class="product__img fadein">
          </a>
        </div>
        <div class="product__right">
          <a href="https://lavanda.jp/products/LV21SSB3" class="product__right-img-wrap ">
            <img src="https://cdn.shopify.com/s/files/1/0322/8116/5869/files/meruru_SP.png?v=1615007126" alt="" class="product__right-img fadein">
          </a>
          <div class="product__info">
            <a href="https://lavanda.jp/products/LV21SSB3" class="product__txt">フリルカラー２WAYトップス　¥7,900 (tax in)
            </a>
            <a href="https://lavanda.jp/products/LV21SSS5" class="product__txt">スウィッチングフレアスカート　¥9,900 (tax in)
            </a>
          </div>
        </div>
      </div>
    </div>


</div>

    {% comment %}
    Regular page content goes here.
    {% endcomment %}

    {% if settings.enable_multilang and page.content contains '[lang2]' %}
    <div class="rte lang1">
      {{ page.content | split: '[lang2]' | first }}
    </div>
    <div class="rte lang2">
      {{ page.content | split: '[lang2]' | last }}
    </div>
    {% else %}
    <div class="rte">
      {{ page.content | split: '[lang2]' | first }}
    </div>
    {% endif %}
  </div>
</div>
