<!-- ============================================

SHINTYOUBETSU CSS & HTML(LIQUID)

============================================== -->


<style>

  @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700;900&display=swap');

 
  
  .height-lp-original{
    font-family: 'Noto Sans JP', sans-serif;!important;
  }
  

  
.original-fv {
  background-image: url(https://cdn.shopify.com/s/files/1/0322/8116/5869/files/height-FV.png?v=1614503604);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 750px;
}

@media screen and (max-width: 767px) {
  .original-fv {
    background-image: url(https://cdn.shopify.com/s/files/1/0322/8116/5869/files/height-FV-sp.png?v=1614503604);
    height: 800px;
  }
}

@media screen and (max-width: 480px) {
  .original-fv {
    height: 410px;
  }
}

.original-container {
  margin-top: 104px;
}

@media screen and (max-width: 767px) {
  .original-container {
    margin-top: 118px;
  }
}

@media screen and (max-width: 480px) {
  .original-container {
    margin-top: 70px;
  }
}

.original-container__inner {
  margin: 0 auto;
  max-width: 1040px;
  padding: 0 20px;
  width: 100%;
}

@media screen and (max-width: 767px) {
  .original-container__inner {
    padding: 0;
  }
}

.original-container__info {
     display: block;
  margin-top: 25px;
  width: 100%;
}

@media screen and (max-width: 767px) {
  .original-container__info {
    display: block;
    margin-top: 0;
    padding-top: 10px;
  }
}

.original-container__txt {
  color: #5B5959;
  font-size: 15px;
    display: block;
  text-align:center;
  text-decoration: none;
}

@media screen and (max-width: 767px) {
  .original-container__txt {
    display: block;
    font-size: 15px;
    text-align: center;
    line-height: 30px ;
  }
}

@media screen and (max-width: 480px) {
  .original-container__txt {
    font-size: 12px;
    line-height: 20px ;
  }
}

.height-lp-original img {
  width: 100%;
}

.height-lp-original a:hover {
  opacity: .8;
}

.pb {
  padding-bottom: 100px;
}
  
    
.meruru-bottm-hr{
  border-bottom : 1px solid #978ea1 ;
  padding-bottom: 35px;
}




</style>


{{ 'effect.css' | asset_url | stylesheet_tag }}
{{ 'effect.js' | asset_url | script_tag }}

<div class="page-tpl meruru-bottm-hr">


      
    
    <div class="height-lp-original">

  <div class="original-fv">

  </div>

  <div class="original-container">
    <div class="original-container__inner">
      <div class="original-container__img-wrap fadein">
        <img src="https://cdn.shopify.com/s/files/1/0322/8116/5869/files/height01.png?v=1614503606" alt="フリルカラー２WAYトップス" class="original-container__img is-sp-wide-hidden">
        <img src="https://cdn.shopify.com/s/files/1/0322/8116/5869/files/height-sp-01.png?v=1614503605" alt="フリルカラー２WAYトップス" class="original-container__img is-sp-wide">
      </div>
      <div class="original-container__info">
        <a href="https://lavanda.jp/products/LV21SSB3" class="original-container__txt">フリルカラー2WAYトップス　¥7,900(tax in)</a>
        <a href="https://lavanda.jp/products/LV21SSS5" class="original-container__txt">スウィッチングフレアスカート　¥9,900(tax in)</a>
        <a href="https://lavanda.jp/products/LV21SSCH3" class="original-container__txt">チャンキースニーカー　¥12,900(tax in)</a>
      </div>
    </div>
  </div>

  <div class="original-container">
    <div class="original-container__inner">
      <div class="original-container__img-wrap fadein">
        <img src="https://cdn.shopify.com/s/files/1/0322/8116/5869/files/height02.png?v=1614503603" alt="ワイドオールインワン" class="original-container__img is-sp-wide-hidden">
        <img src="https://cdn.shopify.com/s/files/1/0322/8116/5869/files/height-sp-02.png?v=1614503605" alt="ワイドオールインワン" class="original-container__img is-sp-wide">
      </div>
      <div class="original-container__info">
        <a href="
        https://lavanda.jp/products/LV21SSP3" class="original-container__txt">ワイドオールインワン　¥14,500(tax in)</a>
        <a href="https://lavanda.jp/products/LV21SSCH4" class="original-container__txt">ビットローファー　¥8,500(tax in)</a>

      </div>
    </div>
  </div>

  <div class="original-container">
    <div class="original-container__inner">
      <div class="original-container__img-wrap fadein">
        <img src="https://cdn.shopify.com/s/files/1/0322/8116/5869/files/height03.png?v=1614503606" alt="チュールレイヤードライトブルゾン" class="original-container__img is-sp-wide-hidden">
        <img src="https://cdn.shopify.com/s/files/1/0322/8116/5869/files/height-sp-03.png?v=1614503605" alt="チュールレイヤードライトブルゾン" class="original-container__img is-sp-wide">
      </div>
      <div class="original-container__info">
        <a href="https://lavanda.jp/products/LV21SSO3" class="original-container__txt">チュールレイヤードライトブルゾン　¥13,500(tax in)</a>
        <a href="https://lavanda.jp/products/LV21SSOP1" class="original-container__txt">レーススウィッチングキャミワンピース　¥12,900(tax in)</a>
        <a href="https://lavanda.jp/products/LV21SST4" class="original-container__txt">ロゴ刺繍バックリボンTシャツ　¥5,500(tax in)</a>
        <a href="https://lavanda.jp/products/LV21SSCH2" class="original-container__txt">オープントゥミュール　¥8,500(tax in)</a>
      </div>
    </div>
  </div>

  <div class="original-container">
    <div class="original-container__inner"> 
      <div class="original-container__img-wrap fadein">
        <img src="https://cdn.shopify.com/s/files/1/0322/8116/5869/files/height04.png?v=1614503603" alt="キャミ付きフリルブラウス" class="original-container__img is-sp-wide-hidden">
        <img src="https://cdn.shopify.com/s/files/1/0322/8116/5869/files/height-sp-04.png?v=1614503605" alt="キャミ付きフリルブラウス" class="original-container__img is-sp-wide">
      </div>
      <div class="original-container__info">
        <a href="https://lavanda.jp/products/LV21SSB4" class="original-container__txt">キャミ付きフリルブラウス　¥8,500(tax in)</a>
      
        <a href="https://lavanda.jp/products/LV21SSCH2" class="original-container__txt">オープントゥミュール　¥8,500(tax in)</a>
        <a href="https://lavanda.jp/products/LV21SSP2" class="original-container__txt">ストレートタックワイドパンツ　¥10,900(tax in)<br>着用サイズ：M</a>
        
      </div>
    </div>
  </div>

  <div class="original-container">
    <div class="original-container__inner">
      <div class="original-container__img-wrap fadein">
        <img src="https://cdn.shopify.com/s/files/1/0322/8116/5869/files/height05.png?v=1614503604" alt="メッセージフラワープリントTシャツ" class="original-container__img is-sp-wide-hidden">
        <img src="https://cdn.shopify.com/s/files/1/0322/8116/5869/files/height-sp-05.png?v=1614503605" alt="メッセージフラワープリントTシャツ" class="original-container__img is-sp-wide">
      </div>
      <div class="original-container__info">
        <a href="
        https://lavanda.jp/products/lv21sst2" class="original-container__txt">メッセージフラワープリントTシャツ　¥5,900(tax in)</a>
        <a href="
        https://lavanda.jp/products/LV21SSS2" class="original-container__txt">ドットチュールスカート　¥11,900(tax in)</a>
        <a href="https://lavanda.jp/products/LV21SSCH3" class="original-container__txt">チャンキースニーカー　¥12,900tax in)</a>
      </div>
    </div>
  </div>

  <div class="original-container">
    <div class="original-container__inner">
      <div class="original-container__img-wrap fadein">
        <img src="https://cdn.shopify.com/s/files/1/0322/8116/5869/files/height06.png?v=1614503603" alt="バックプリントTシャツワンピース" class="original-container__img is-sp-wide-hidden">
        <img src="https://cdn.shopify.com/s/files/1/0322/8116/5869/files/height-sp-06.png?v=1614503610" alt="バックプリントTシャツワンピース" class="original-container__img is-sp-wide">
      </div>
      <div class="original-container__info">
        <a href="https://lavanda.jp/products/LV21SST6" class="original-container__txt">
          バックプリントTシャツワンピース　¥8,500(tax in)</a>
        <a href="https://lavanda.jp/products/LV21SSCH3" class="original-container__txt">チャンキースニーカー　¥12,900(tax in)</a>
      </div>
    </div>
  </div>

  <div class="original-container">
    <div class="original-container__inner">
      <div class="original-container__img-wrap fadein">
        <img src="https://cdn.shopify.com/s/files/1/0322/8116/5869/files/height07.png?v=1614503605" alt="シアードットスカート" class="original-container__img is-sp-wide-hidden">
        <img src="https://cdn.shopify.com/s/files/1/0322/8116/5869/files/height-sp-07.png?v=1614503611" alt="シアードットスカート" class="original-container__img is-sp-wide">
      </div>
      <div class="original-container__info">
        <a href="https://lavanda.jp/products/LV21SSB5" class="original-container__txt">フレンチスリーブパーカー　¥6,500(tax in)</a>
        <a href="https://lavanda.jp/products/LV21SSS2" class="original-container__txt">ドットチュールスカート　¥11,900(tax in)</a>
        <a href="https://lavanda.jp/products/LV21SSCH3" class="original-container__txt">チャンキースニーカー　¥12,900(tax in)</a>
      </div>
    </div>
  </div>

  <div class="original-container">
    <div class="original-container__inner">
      <div class="original-container__img-wrap fadein">
        <img src="https://cdn.shopify.com/s/files/1/0322/8116/5869/files/height08.png?v=1614503603" alt="2WAYパフスリーブニット" class="original-container__img is-sp-wide-hidden">
        <img src="https://cdn.shopify.com/s/files/1/0322/8116/5869/files/height-sp-08.png?v=1614503605" alt="2WAYパフスリーブニット" class="original-container__img is-sp-wide">
      </div>
      <div class="original-container__info">
        <a href="https://lavanda.jp/products/LV21SSB2" class="original-container__txt">2WAYパフスリーブニット　¥6,900(tax in)</a>
        
        <a href="https://lavanda.jp/products/LV21SSCH4" class="original-container__txt">ビットローファー　¥8,500(tax in)</a>
        <a href="https://lavanda.jp/products/LV21SSP2" class="original-container__txt">ストレートタックワイドパンツ　¥10,900(tax in)<br>着用サイズ：S</a>
      </div>
    </div>
  </div>

  <div class="original-container">
    <div class="original-container__inner">
      <div class="original-container__img-wrap fadein">
        <img src="https://cdn.shopify.com/s/files/1/0322/8116/5869/files/height09.png?v=1614503605" alt="フラワーフォトプリントTシャツ" class="original-container__img is-sp-wide-hidden">
        <img src="https://cdn.shopify.com/s/files/1/0322/8116/5869/files/height-sp-09.png?v=1614503605" alt="フラワーフォトプリントTシャツ" class="original-container__img is-sp-wide">
      </div>
      <div class="original-container__info">
        <a href="https://lavanda.jp/products/LV21SST3" class="original-container__txt">フラワーフォトプリントTシャツ　¥5,900(tax in)</a>
        <a href="
        https://lavanda.jp/products/LV21SSP4" class="original-container__txt">サイドレースワッシャーパンツ　¥11,900(tax in)</a>
        <a href="
        https://lavanda.jp/products/LV21SSCH4" class="original-container__txt">
          ビットローファー　¥8,500(tax in)</a>
      </div>
    </div>
  </div>

  <div class="original-container">
    <div class="original-container__inner">
      <div class="original-container__img-wrap fadein">
        <img src="https://cdn.shopify.com/s/files/1/0322/8116/5869/files/height10.png?v=1614503603" alt="レーススウィッチングキャミワンピース" class="original-container__img is-sp-wide-hidden">
        <img src="https://cdn.shopify.com/s/files/1/0322/8116/5869/files/height-sp-10.png?v=1614503605" alt="レーススウィッチングキャミワンピース" class="original-container__img is-sp-wide">
      </div>
      <div class="original-container__info">
        <a href="https://lavanda.jp/products/LV21SSOP1" class="original-container__txt">レーススウィッチングキャミワンピース　¥12,900(tax in)</a>
        <a href="https://lavanda.jp/products/LV21SST4" class="original-container__txt">ロゴ刺繍バックリボンTシャツ　¥5,500(tax in)</a>
        <a href="https://lavanda.jp/products/LV21SSCH2" class="original-container__txt">オープントゥミュール　¥8,500(tax in)</a>
      </div>
    </div>
  </div>

  <div class="original-container">
    <div class="original-container__inner">
      <div class="original-container__img-wrap fadein">
        <img src="https://cdn.shopify.com/s/files/1/0322/8116/5869/files/height11.png?v=1614503604" alt="ロゴ刺繍バックリボンTシャツ" class="original-container__img is-sp-wide-hidden">
        <img src="https://cdn.shopify.com/s/files/1/0322/8116/5869/files/height-sp-11.png?v=1614503612" alt="ロゴ刺繍バックリボンTシャツ" class="original-container__img is-sp-wide">
      </div>
      <div class="original-container__info">
        <a href="https://lavanda.jp/products/LV21SST4" class="original-container__txt">ロゴ刺繍バックリボンTシャツ　¥5,500(tax in)</a>
        <a href="
        https://lavanda.jp/products/LV21SSS3" class="original-container__txt">
          ランダムプリーツシアーチェックスカート　¥10,900(tax in)</a>
        <a href="https://lavanda.jp/products/LV21SSCH3" class="original-container__txt">チャンキースニーカー　¥12,900(tax in)</a>
      </div>
    </div>
  </div>

  <div class="original-container">
    <div class="original-container__inner">
      <div class="original-container__img-wrap fadein">
        <img src="https://cdn.shopify.com/s/files/1/0322/8116/5869/files/height12.png?v=1614503604" alt="フラワーボウタイワンピース" class="original-container__img is-sp-wide-hidden">
        <img src="https://cdn.shopify.com/s/files/1/0322/8116/5869/files/height-sp-12.png?v=1614503606" alt="フラワーボウタイワンピース" class="original-container__img is-sp-wide">
      </div>
      <div class="original-container__info">
        <a href="https://lavanda.jp/products/lv21ssop3" class="original-container__txt">フラワーボウタイワンピース　¥14,500(tax in)</a>
        <a href="
        https://lavanda.jp/products/LV21SSCH2" class="original-container__txt">オープントゥミュール　¥8,500(tax in)</a>
      </div>
    </div>
  </div>


</div>
    

    {% comment %}
    Regular page content goes here.
    {% endcomment %}

    {% if settings.enable_multilang and page.content contains '[lang2]' %}
    <div class="rte lang1">
      {{ page.content | split: '[lang2]' | first }}
    </div>
    <div class="rte lang2">
      {{ page.content | split: '[lang2]' | last }}
    </div>
    {% else %}
    <div class="rte">
      {{ page.content | split: '[lang2]' | first }}
    </div>
    {% endif %}
  
</div>
