<!-- 2022 WINTER COLLECTION￼ -->

<div class="fv">
	<div class="fv-tit">
		<h1 class="jscr animf">
			<img src="https://cdn.shopify.com/s/files/1/0322/8116/5869/files/txt-2022-winter-collection_tit.png?v=1667462364" alt="2022 WINTER COLLECTION" class="pc-aw" /><img src="https://cdn.shopify.com/s/files/1/0322/8116/5869/files/sp_txt-2022-winter-collection_tit.png?v=1667462363" alt="2022 WINTER COLLECTION" class="sp-aw" />
		</h1>
	</div>
	<!-- ￼fv-tit -->
	<div class="fv-bg pc-aw">
		<img src="https://cdn.shopify.com/s/files/1/0322/8116/5869/files/imgl-2022-winter-collection_pc_8fb74e03-4b20-45a6-9b43-4d8a6d83cd02.jpg?v=1667791580" alt="" />
	</div>
	<!-- ￼fv-bg -->
	<div class="fv-bg sp-aw">
		<img src="https://cdn.shopify.com/s/files/1/0322/8116/5869/files/imgl-2022-autumn-collection_sp_41849eb0-891d-40b5-8231-4928a1d2b4af.jpg?v=1667791578" alt="" />
	</div>
	<!-- ￼fv-bg -->
</div>
<!-- ￼fv -->

<div class="lp-container">

	<!-- LOOP -->
	<div class="lp-contents clearfix lp-no-1 jscr animaf">
		<div class="lp-img animafch">
			<img src="https://cdn.shopify.com/s/files/1/0322/8116/5869/files/img-2022-winter-collection_01-01c_ba527470-aa1f-4c7e-beb6-46913ce3c0af.jpg?v=1667791579" alt="" />
		</div>
		<!-- lp-img -->

		<div class="lp-price animafch" style="animation-delay: .5s;">
			<ul class="f_di">
				<li>
					<a href="https://lavanda.jp/products/lv22awkt10">Turtle rib knit ¥7,500 /tax in</a>
				</li>
				<li>
					<a href="https://lavanda.jp/products/lv22awac18">Boa chain bag ¥8,500 /tax in</a>
				</li>
				<li>
					<a href="https://lavanda.jp/products/lv22awac39">Loop tie necklace ¥2,900 /tax in</a>
				</li>
			</ul>
		</div>
		<!-- lp-price -->
	</div>
	<!-- LOOP -->

	<!-- LOOP -->
	<div class="lp-contents lp-no-2">
		<div class="lp-boxs clearfix">
			<div class="lp-box">
				<div class="lp-clms jscr animaf">
					<div class="lp-img animafch">
						<img src="https://cdn.shopify.com/s/files/1/0322/8116/5869/files/img-2022-winter-collection_02-01_5de7dc95-0542-4359-a214-5838f069afbb.jpg?v=1667791578" alt="" />
					</div>
					<!-- lp-img -->

					<div class="lp-price animafch" style="animation-delay: .5s;">
						<ul class="f_di">
							<li>
								<a href="https://lavanda.jp/products/lv22awcs9">KEWL layer logo hoodie ¥10,500 /tax in</a>
							</li>
						</ul>
					</div>
					<!-- lp-price -->
				</div>
				<!-- lp-clms -->

			</div>
			<!-- lp-box -->

			<div class="lp-box">
				<div class="lp-clms jscr animaf">
					<div class="lp-img animafch">
						<img src="https://cdn.shopify.com/s/files/1/0322/8116/5869/files/img-2022-winter-collection_02-02_05412c2b-acd0-4d7a-a020-604083b613b6.jpg?v=1667791578" alt="" class="pc-aw" /><img src="https://cdn.shopify.com/s/files/1/0322/8116/5869/files/sp_img-2022-winter-collection_02-02.jpg?v=1667462363" alt="" class="sp-aw" />
					</div>
					<!-- lp-img -->
					<div class="lp-price animafch" style="animation-delay: .5s;">
						<ul class="f_di">
							<li>
								<a href="https://lavanda.jp/products/lv22awcs5">Photo Message Collage long T-shirt 　¥7,500 /tax in</a>
							</li>
						</ul>
					</div>
					<!-- lp-price -->
				</div>
				<!-- lp-clms -->
			</div>
			<!-- lp-box -->
		</div>
		<!-- lp-boxs -->
	</div>
	<!-- LOOP -->

	<!-- LOOP -->
	<div class="lp-contents lp-no-3">
		<div class="lp-boxs clearfix">
			<div class="lp-box">
				<div class="lp-clms jscr animaf">
					<div class="lp-img animafch">
						<img src="https://cdn.shopify.com/s/files/1/0322/8116/5869/files/img-2022-winter-collection_03-01_9601779c-bc65-4b99-b2e0-62a61b19d93a.jpg?v=1667791579" alt="" class="pc-aw" /><img src="https://cdn.shopify.com/s/files/1/0322/8116/5869/files/sp_img-2022-winter-collection_03-01_7ae12991-c7ac-4bd3-82d5-45ed1e8096c0.jpg?v=1667791577" alt="" class="sp-aw" />
					</div>
					<!-- lp-img -->

					<div class="lp-price animafch" style="animation-delay: .5s;">
						<ul class="f_di">
							<li>
								<a href="https://lavanda.jp/products/lv22awjb2">2WAY batting jacket　¥22,000 /tax in</a>
							</li>
						</ul>
					</div>
					<!-- lp-price -->
				</div>
				<!-- lp-clms -->

			</div>
			<!-- lp-box -->
		</div>
		<!-- lp-boxs -->
	</div>
	<!-- LOOP -->

	<!-- LOOP -->
	<div class="lp-contents lp-no-4">
		<div class="lp-boxs clearfix jscr animaf">
			<div class="lp-box">
				<div class="lp-clms">
					<div class="lp-img animafch">
						<img src="https://cdn.shopify.com/s/files/1/0322/8116/5869/files/img-2022-winter-collection_04-01_e54caa2e-4232-4410-ab1e-d5aaf1d4b86e.jpg?v=1667791579" class="pc-aw" alt="" /><img src="https://cdn.shopify.com/s/files/1/0322/8116/5869/files/sp_img-2022-winter-collection_04-01_0150122f-d236-4a3a-9740-d74065ce4ddb.jpg?v=1667791578" class="sp-aw" alt="" />
					</div>
					<!-- lp-img -->
				</div>
				<!-- lp-clms -->

			</div>
			<!-- lp-box -->

			<div class="lp-box">
				<div class="lp-clms">
					<div class="lp-price animafch" style="animation-delay: .5s;">
						<ul class="f_di">
							<li>
								<a href="https://lavanda.jp/products/lv22awkt7">Damage line over knit　¥9,500 /tax in</a>
							</li>
						</ul>
					</div>
					<!-- lp-price -->

					<div class="lp-img animafch" style="animation-delay: .7s;">
						<img src="https://cdn.shopify.com/s/files/1/0322/8116/5869/files/img-2022-winter-collection_04-02_17ba3d69-e1ab-4fdc-970c-9c19f640badb.png?v=1667791579" alt="" />
					</div>
					<!-- lp-img -->
				</div>
				<!-- lp-clms -->
			</div>
			<!-- lp-box -->
		</div>
		<!-- lp-boxs -->
	</div>
	<!-- LOOP -->

	<!-- LOOP -->
	<div class="lp-bg lp-bg-5">
		<div class="lp-contents lp-no-5 jscr animaf">

			<div class="lp-tit animafch">
				<img src="https://cdn.shopify.com/s/files/1/0322/8116/5869/files/txt-2022-winter-collection_05-01.png?v=1667462364" alt="LAVANDA HOODIE" />
			</div>
			<!-- lp-tit -->
			<div class="lp-wide">
				<div class="lp-clms">
					<div class="lp-img animafch" style="animation-delay: .5s;">
						<img src="https://cdn.shopify.com/s/files/1/0322/8116/5869/files/img-2022-winter-collection_05-01_d4c758a1-09f3-4fb2-a0a1-4b8279489dec.jpg?v=1667791578" alt="" />
					</div>
					<!-- lp-img -->

					<div class="lp-price animafch" style="animation-delay: .7s;">
						<ul class="f_di">
							<li>
								<a href="https://lavanda.jp/products/lv22awcs8">LAVANDA logo flocky hoodie　¥10,500 /tax in</a>
							</li>
							<li>
								<a href="https://lavanda.jp/products/lv22awjb2">２WAY batting jacket 　¥22,000 /tax in</a>
							</li>
						</ul>
					</div>
					<!-- lp-price -->
				</div>
				<!-- lp-clms -->
			</div>
			<!-- lp-wide -->

			<div class="lp-boxs clearfix">
				<div class="lp-box">
					<div class="lp-img jscr animf">
						<img src="https://cdn.shopify.com/s/files/1/0322/8116/5869/files/img-2022-winter-collection_05-02d.png?v=1667790443" alt="" />
					</div>
					<!-- lp-img -->
				</div>
				<!-- lp-box -->
			</div>
			<!-- lp-boxs -->

			<div class="lp-clms">
				<div class="lp-price jscr animf" style="animation-delay: .4s;">
					<ul class="f_di">
						<li>
							<a href="https://lavanda.jp/products/lv22awcs8">LAVANDA logo flocky hoodie　¥10,500 /tax in</a>
						</li>
						<li>
							<a href="https://lavanda.jp/products/lv22aws5">I line rib teleco skirt 　¥8,500 /tax in</a>
						</li>
					</ul>
				</div>
				<!-- lp-price -->
			</div>
			<!-- lp-clms -->
		</div>
		<!-- LOOP -->
	</div>
	<!-- lp-bg -->

	<!-- LOOP -->
	<div class="lp-bg lp-bg-6">
		<div class="lp-contents lp-no-6">
			<div class="lp-boxs clearfix jscr animaf">
				<div class="lp-box">
					<div class="lp-img animafch">
						<img src="https://cdn.shopify.com/s/files/1/0322/8116/5869/files/img-2022-winter-collection_06-01_fdfd989d-d4e6-4e2a-9c23-b4bd41f2532e.jpg?v=1667791578" alt="" />
					</div>
					<!-- lp-img -->

					<div class="lp-price animafch" style="animation-delay: .7s;">
						<ul class="f_di">
							<li>
								<a href="https://lavanda.jp/products/lv22awcs6">Flower photo back print long T-shirt　¥7,500/tax in</a>
							</li>
							<li>
								<a href="https://lavanda.jp/products/lv22awkt7">Damage line over knit 　¥9,500/tax in</a>
							</li>
							<li>
								<a href="https://lavanda.jp/products/lv22awp2">Corduroy stretch pants ¥10,900/tax in</a>
							</li>
							<li>
								<a href="https://lavanda.jp/products/lv22awac38">Heart chain necklace　¥2,900/tax in</a>
							</li>
						</ul>
					</div>
					<!-- lp-price -->
				</div>
				<!-- lp-box -->

				<div class="lp-box">
					<div class="lp-img animafch" style="animation-delay: .5s;">
						<img src="https://cdn.shopify.com/s/files/1/0322/8116/5869/files/img-2022-winter-collection_06-02_dc920463-6775-40fb-b7e7-32336e3c1267.jpg?v=1667791577" class="pc-aw" alt="" /><img src="https://cdn.shopify.com/s/files/1/0322/8116/5869/files/sp_img-2022-winter-collection_06-02_5b75c8c2-0961-425f-90f2-8730bcf34fb4.jpg?v=1667792132" class="sp-aw" alt="" />
					</div>
					<!-- lp-img -->
				</div>
				<!-- lp-box -->
			</div>
			<!-- lp-boxs -->
		</div>
		<!-- LOOP -->
	</div>
	<!-- lp-bg -->

	<!-- LOOP -->
  <div class="lp-bg-7">
	<div class="lp-contents lp-no-7">
		<div class="lp-boxs clearfix">
			<div class="lp-box jscr animaf">
				<div class="lp-box_clms">
					<div class="lp-img animafch">
						<img src="https://cdn.shopify.com/s/files/1/0322/8116/5869/files/img-2022-winter-collection_07-01c_92a508a4-d643-46da-b9ee-1cd60e927758.jpg?v=1667791578" class="pc-aw" alt="" /><img src="https://cdn.shopify.com/s/files/1/0322/8116/5869/files/sp_img-2022-winter-collection_07-01c_1b596436-da84-4834-b8f1-aedc0c2b995e.jpg?v=1667791577" class="sp-aw" alt="" />
					</div>
					<!-- lp-img -->

					<div class="lp-price animafch" style="animation-delay: .5s;">
						<ul class="f_di">
							<li>
								<a href="https://lavanda.jp/products/lv22awkt6">Loose knit tunic　¥11,000/tax in</a>
							</li>
							<li>
								<a href="https://lavanda.jp/products/lv22awac21">Monogram logo belt　¥3,900 /tax in</a>
							</li>
							<li>
								<a href="https://lavanda.jp/products/lv22awsh4">Pointed toe side gore boots　¥12,500/tax in</a>
							</li>
						</ul>
					</div>
					<!-- lp-price -->
				</div>
				<!-- lp-box_clms -->
			</div>
			<!-- lp-box -->

			<div class="lp-box jscr animaf">
				<div class="lp-box_clms">
					<div class="lp-img animafch">
						<img src="https://cdn.shopify.com/s/files/1/0322/8116/5869/files/img-2022-winter-collection_07-02_838114cc-6ccb-4716-8997-4da6b7e3f6ed.jpg?v=1667791579" class="pc-aw" alt="" /><img src="https://cdn.shopify.com/s/files/1/0322/8116/5869/files/sp_img-2022-winter-collection_07-02_ca9636c5-de19-48ec-aa75-231343714c6a.jpg?v=1667791578" class="sp-aw" alt="" />
					</div>
					<!-- lp-img -->

					<div class="lp-price animafch" style="animation-delay: .5s;">
						<ul class="f_di">
							<li>
								<a href="https://lavanda.jp/products/lv22awac19">Puff bucket hat　¥6,500 /tax in</a>
							</li>
							<li>
								<a href="https://lavanda.jp/products/lv22awkt6">Loose knit tunic　¥11,000 /tax in</a>
							</li>
						</ul>
					</div>
					<!-- lp-price -->
				</div>
				<!-- lp-box_clms -->
			</div>
			<!-- lp-box -->

			<div class="lp-box jscr animaf">
				<div class="lp-box_clms">
					<div class="lp-img animafch">
						<img src="https://cdn.shopify.com/s/files/1/0322/8116/5869/files/img-2022-winter-collection_07-03_e0a0312b-d68b-4aaa-adb2-6cfbf382f1b2.jpg?v=1667791578" alt="" />
					</div>
					<!-- lp-img -->

					<div class="lp-price animafch" style="animation-delay: .5s;">
						<ul class="f_di">
							<li>
								<a href="https://lavanda.jp/products/lv22awop3">Half zip sweat one piece　¥10,900 /tax in</a>
							</li>
						</ul>
					</div>
					<!-- lp-price -->
				</div>
				<!-- lp-box_clms -->
			</div>
		</div>
		<!-- lp-boxs -->
	</div>
	<!-- LOOP -->
    </div>
	<!-- lp-bg-7 -->
</div>
<!-- lp-container -->

<link rel="stylesheet" href="https://use.typekit.net/jla2rig.css">
{{ 'style-2022-winter-collection.css' | asset_url | stylesheet_tag }}
{{ 'jquery.min.js' | asset_url | script_tag }}
{{ 'jquery.inview.min.js' | asset_url | script_tag }}
{{ 'ScrollMagic.min.js' | asset_url | script_tag }}
{{ 'animation.gsap.min.js' | asset_url | script_tag }}
{{ 'common-2022-autumn-collection.js' | asset_url | script_tag }}