

<div class="main-container">
  <!-- 1view目   -->
  <div class="section-1">
    <img class="pc" src="https://cdn.shopify.com/s/files/1/0322/8116/5869/files/1_3x-100.jpg?v=1614965642" alt="">
    <img class="sp" src="https://cdn.shopify.com/s/files/1/0322/8116/5869/files/KV_section_1_sp_471c242f-a4e5-4151-9e77-5610421d1c2f.jpg?v=1614776200" alt="">
    <div class="sec-1-txt align-center sp">
      <p>2021
        <br>SPRING SUMMER
        <br>COLLECTION
      </p>
    </div>
  </div>
  
  <div class="wrapper align-center">
    <!-- 2view目   -->
    <div class="section-2 fadein">
<!--       <img src="https://cdn.shopify.com/s/files/1/0322/8116/5869/files/KV_section_2.jpg?v=1614775598" alt=""> -->
      <video autoplay muted playsinline src="https://dl.dropboxusercontent.com/s/uhtrvgn4rslyskz/2021SS_main_movie.mp4"></video>
      <div class="sec-2-txt align-center">
<!--         <p>LAVANDA</p> -->
      </div>
    </div>
    <!-- 3view目   -->
    <div class="section-3 fadein">
      <img class="pc" src="https://cdn.shopify.com/s/files/1/0322/8116/5869/files/2_3x-100.jpg?v=1614965655" alt="">
      <img class="sp" src="https://cdn.shopify.com/s/files/1/0322/8116/5869/files/KV_section_3_sp.jpg?v=1614776215" alt="">
    </div>
    <!-- 4view目   -->
    <div class="section-4 fadein">
      <img src="https://cdn.shopify.com/s/files/1/0322/8116/5869/files/3_3x-100.jpg?v=1614965675" alt="">
      <div class="sec-4-txt">
        <p><a href="https://lavanda.jp/products/lv21ssop3">フラワーボウタイワンピース</a>
        	<br>&yen;14,500 (tax in)
          <br><a href="https://lavanda.jp/products/LV21SSAC26">フープセットピアス</a>
          	<br>&yen;2,900 (tax in)
        </p>
      </div>
    </div>
    <!-- 5view目   -->
    <div class="section-5 fadein">
      <img src="https://cdn.shopify.com/s/files/1/0322/8116/5869/files/4_3x-100.jpg?v=1614965689" alt="">
    </div>
    <!-- 6view目   -->
    <div class="section-6 fadein">
      <img class="pc" src="https://cdn.shopify.com/s/files/1/0322/8116/5869/files/5_3x-100.jpg?v=1614965701" alt="">
      <img class="sp" src="https://cdn.shopify.com/s/files/1/0322/8116/5869/files/KV_section_6_sp.jpg?v=1614777127" alt="">
      <div class="sec-6-txt-bg">
		<!-- 下記文字はsec-6-txtと同じ大きさで背景を変えるために設定している(i.e.背景色と同じ色)  -->
        <p><a href="https://lavanda.jp/products/lv21ssp3">ワイドオールインワン</a>
          <br>&yen;14,500 (tax in)
          
          <br><a href="https://lavanda.jp/products/LV21SSAC39">2WAYストーンライクスクエアイヤリング</a>
          <br>&yen;2,900 (tax in)
        </p>
      </div>
      <div class="sec-6-txt">
        <p><a href="https://lavanda.jp/products/lv21ssp3">ワイドオールインワン</a>
          <br>&yen;14,500 (tax in)
          
          <br><a href="https://lavanda.jp/products/LV21SSAC39">2WAYレジンイヤリング</a>
          <br>&yen;2,900 (tax in)
        </p>
      </div>
    </div>
    <!-- 7view目   -->
    <div class="section-7 fadein">
      <img src="https://cdn.shopify.com/s/files/1/0322/8116/5869/files/6_3x-100.jpg?v=1614965727" alt="">
    </div>
    <!-- 8view目   -->
    <div class="section-8 fadein">
      <img src="https://cdn.shopify.com/s/files/1/0322/8116/5869/files/7_3x-100.jpg?v=1614965751" alt="">
      <div class="sec-8-txt">
        <p><a href="https://lavanda.jp/products/lv21ssb2">2WAYパフスリーブニット</a>
        	<br>&yen;6,900 (tax in)
          	<br><a href="https://lavanda.jp/products/lv21sss2">ドットチュールスカート</a>
          	<br>&yen;11,900 (tax in)
          	<br><a href="https://lavanda.jp/products/LV21SSAC39">2WAYレジンイヤリング</a>
          	<br>&yen;2,900 (tax in)
            <br><a href="https://lavanda.jp/products/LV21SSAC13">イニシャルハートネックレス</a>
          	<br>&yen;3,500 (tax in)
        </p>
      </div>
    </div>
    <!-- 9view目   -->
    <div class="section-9 fadein">
      <img src="https://cdn.shopify.com/s/files/1/0322/8116/5869/files/8_3x-100.jpg?v=1614965770" alt="">
    </div>

  </div>
</div>
<footer>
</footer>


<style>
/***  共通class  ***/
  .align-center {
    text-align:center;
  }
  @font-face {
	font-family: 'AbrilFatface_Regular';
    src: url(' {{ 'AbrilFatface_Regular.ttf' | asset_url }} ') format('opentype');
  }
  @font-face {
	font-family: 'JosefinSans_VariableFont_wght';
    src: url(' {{ 'JosefinSans_VariableFont_wght.ttf' | asset_url }} ') format('opentype');    
  }
  @font-face {
	font-family: 'NotoSansJP_Medium';
    src: url(' {{ 'NotoSansJP_Medium.otf' | asset_url }} ') format('opentype');    
  }
  @font-face {
	font-family: 'NotoSansJP_Regular';
    src: url(' {{ 'NotoSansJP_Regular.otf' | asset_url }} ') format('opentype');    
  }
  @font-face {
	font-family: 'NotoSerifJP_Regular';
    src: url(' {{ 'NotoSerifJP_Regular.otf' | asset_url }} ') format('opentype');    
  }
  
  /* パソコンで見たときは"pc"のclassがついた画像が表示される */
  .pc { 
	display: block !important; 
  }
  .sp { 
    display: none !important; 
  }

  /* スマートフォンで見たときは"sp"のclassがついた画像が表示される */
  @media only screen and (max-width: 750px) {
      .pc { 
  		display: none !important; 
      }
      .sp { 
        display: block !important; 
      }
  }
  a {
    color: #978EA1;
    font-family:NotoSerifJP_Regular;
  }
/***  固有class  ***/
  .main-container {
    max-width:1200px;
  	width:100%;
    padding-bottom: 10%;
    margin: 0 auto;
  }
  /*  view2-10用のwrapper class  */
  .wrapper {
    width:60%;
    margin:0 auto;
  }
  /*  1view目(pdf指示書に記載あり)  */
  .section-1 {
   	width:100%; 
   	padding-bottom:40px;
    position:relative;
  }
  .section-1 img{
    width:100%;
  }
  .sec-1-txt {
    width:100%;
   	position:absolute; 
    top: 75%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    -webkit- transform: translateY(-50%) translateX(-50%);
    margin: auto;
    line-height:1.5;
    letter-spacing: 10px;
  }
  .sec-1-txt p {
   	font-size:3.5vw;
    color:#FFFFFF;
    font-family:JosefinSans_VariableFont_wght;
  }
  /*  2view目  */
  .section-2 {
   	width:60%;
    padding-top:50px;
   	padding-bottom:50px;
    margin:0 auto;
    position:relative;
  }
    .section-2 video{
   	width:100%;
  }
  .sec-2-txt {
   	position:absolute; 
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    -webkit- transform: translateY(-50%) translateX(-50%);
    margin: auto;
  }
  .sec-2-txt p {
   	font-size:2.5vw;
    color:#FFFFFF;
    font-family:JosefinSans_VariableFont_wght;
  }  
  /*  3view目  */
  .section-3 {
   	width:100%;
    padding-top:40px;
   	padding-bottom:40px;
    margin:0 auto;
  }  
  /*  4view目  */
  .section-4 {
   	width:80%;
    padding-top:40px;
   	padding-bottom:40px;
    margin:0 auto;
  }  
  .sec-4-txt {
   	text-align:left;
    padding: 3% 0;
  }    
  .sec-4-txt p {
   	font-size:1.3vw;
    line-height:1.5;
    color:#978EA1;
    font-family:NotoSerifJP_Regular;
  }  
  /*  5view目  */
  .section-5 {
   	width:80%;
    padding-top:100px;
   	padding-bottom:200px;
    margin:0 auto;
  }  
  /*  6view目  */
  .section-6 {
   	width:80%;
    margin:0 auto;
    position:relative;
  }  
  .sec-6-txt {
    position: absolute;
    z-index:-1;
    width: 75%;
    top: 108.5%;
    left: 27.5%;
    transform: translateY(-50%) translateX(-50%);
    -webkit- transform: translateY(-50%) translateX(-50%);
    margin: auto;
    border: 1px solid;
    border-color: #978EA1;
    text-align: left;
    padding-left: 10%;
    padding-top: 8%;
    padding-bottom: 8%;
  }
  .section-6 p {
   	font-size:1.3vw;
    color:#978EA1;
    font-family:NotoSerifJP_Regular;
    line-height: 1.2;
  }
  .sec-6-txt-bg {
    position: absolute;
    z-index:-1;
    width: 75%;
    top: 107.5%;
    left: 29.5%;
    transform: translateY(-50%) translateX(-50%);
    -webkit- transform: translateY(-50%) translateX(-50%);
    margin: auto;
    text-align: left;
    padding-left: 10%;
    padding-top: 8%;
    padding-bottom: 8%;
    background-color:#D4D3D6;
    opacity:0.3;
  }
  .sec-6-txt-bg p {
   	color: #D4D3D6;
  }
  .sec-6-txt-bg a {
   	color: #D4D3D6;
  }  
  /*  7view目  */
  .section-7 {
   	width:100%;
    margin:45% 20% auto auto;
  }    
  /*  8view目  */
  .section-8 {
   	width:75%;
    padding-top: 20%;
   	padding-bottom:40px;
    margin:0 auto;
  }      
  .sec-8-txt {
    padding: 3% 0;
  }      
  .sec-8-txt p {
   	font-size:1.3vw;
    color:#978EA1;
    font-family:NotoSerifJP_Regular;
    line-height: 1.3;
  }    
  /*  9view目  */
  .section-9 {
    width: 80%;
    padding-top: 10%;
    padding-bottom: 10%;
    margin: 0 0 0 auto;
  }
  @media only screen and (max-width: 750px) {
    .wrapper {
      width:100%;
    }
    .sec-1-txt {
      top: 78.5%;
      line-height: 1.8;
    }
    .sec-1-txt p {
      font-size: 5.5vw;
      letter-spacing: 5px;
    }
    .section-2 {
      padding-top: 30px;
      padding-bottom: 30px;
    }
    .section-4 {
      width: 85%;
    }
    .sec-4-txt {
      padding: 2% 0;
    }    
    .sec-4-txt p {
      font-size: 3vw;
      line-height: 1.6;
    }
    .section-5 {
      width: 85%;
      padding-bottom: 100px;
      padding-top: 40px;
    }
    .section-6 {
      margin-left: 15%;
    }
    .sec-6-txt {
      width: 90%;
      top: 117.5%;
      left: 31%;
      padding-left: 7%;
      padding-top: 10%;
/*       padding-bottom: 6%; */
    }
    .section-6 p {
      font-size: 3vw;
      line-height: 2;
    }
    .sec-6-txt-bg {
      width: 90%;
      top: 115.5%;
      left: 33%;
      padding-left: 7%;
      padding-top: 10%;
/*       padding-bottom: 6%; */
    }
    .section-7 {
      margin-top: 65%;
    } 
    .section-8 {
      width:90%;
    }
    .sec-8-txt {
      padding-top: 5%;
      line-height: 1.8;
    }   
    .sec-8-txt p {
      font-size:3vw;
      line-height: 1.8;
    }   
    .section-9 {
      width: 90%;
      padding-top: 0%;
      padding-bottom: 5%;
    }
  }
</style>
<style>
  .main-content {
    padding-bottom:0px;
  }
  footer {
    width:100%;
    border-top:1px solid #cecbd0;
  }
</style>

{{ 'effect.css' | asset_url | stylesheet_tag }}
{{ 'effect.js' | asset_url | script_tag }}